{{- define "main" -}}

{{ $MAX_ENTRIES_RENDERED := 100 }}

{{ $entries := where .Site.RegularPages "Section" "entries" }}

{{ if eq .Kind "home" }}
  <h1>Recent Issues and PRs</h1>

  <div class="row">

    {{ partialCached "search.html" . }}
    <div class="col-12 col-lg-8">
      <div class="input-group mb-3">
        <input class="form-control" id="search-bar" type="search" placeholder="fuzzy search by title, contributor, and number" aria-label="Search">
      </div>
      <div class="list-group" id="search-results"></div>
      <div class="list-group" id="static-recent">
        {{ range (first 100 $entries ) }}
          {{ partial "list-item-entry.html" . }}
        {{ end }}
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <a href="{{ "labels" | absURL }}" class="text-reset text-decoration-none"><b>Labels</b></a>
      <div class="justify-content-start d-flex flex-wrap">
        {{- range $.Site.Taxonomies.labels.ByCount -}}
          <a href="{{ .Page.RelPermalink }}" class="text-decoration-none text-reset m-1">
            {{ partial "render-label.html" .Term }}
          </a>
        {{ end }}
      </div>
      <hr>
      <a href="{{ "contributors" | absURL }}" class="text-reset text-decoration-none"><b>Contributors</b></a>
      <div class="justify-content-start d-flex flex-wrap">
        {{- range first 29 $.Site.Taxonomies.contributor.ByCount -}}
          <a href="{{ .Page.RelPermalink }}" class="m-1 text-decoration-none text-reset">
            <img src="{{ (index .Page.Data.category 0).Params.avatar_url }}" style="max-width: 32px" class="img-fluid rounded-5 bg-light" alt="{{ .Page.Title }} profile picture">
          </a>
        {{ end }}
        <a href="{{ "contributors" | absURL }}" class="btn btn-outline-secondary rounded-5">…</a>
      </div>
    </div>
  </div>


{{ else if eq .Kind "taxonomy" }}

  <h1>{{ .Title }}</h1>

  <div class="container">
    {{ if eq .Section "contributor" }}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
        {{- range $.Site.Taxonomies.contributor.ByCount -}}

          {{ if gt .Count 2 }}

          <div class="col my-2">
            <a href="{{ .Page.RelPermalink }}" class="text-decoration-none text-reset">
              <div class="card">
                <div class="row g-0">
                  <div class="col-md-3">
                    <img src="{{ (index .Page.Data.category 0).Params.avatar_url }}" height=32 class="img-fluid rounded-start bg-light" alt="{{ .Page.Title }} profile picture">
                  </div>
                  <div class="col-md-9">
                    <div class="card-body">
                      <h5 class="card-title">
                        {{ .Page.Title }}
                      </h5>
                      {{ $pulls := where .Page.Data.category ".Params.is_pr" true }}
                      {{ $issues := where .Page.Data.category ".Params.is_pr" false }}
                      <span>
                        {{ $pulls | len }} pulls
                      </span>
                      <br>
                      <span>
                        {{ $issues | len }} issues
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {{ end }}
        {{ end }}
      </div>
    {{ else if eq .Section "labels" }}
      <div class="row row-cols-3">
        {{- range $.Site.Taxonomies.labels.ByCount -}}
          <div class="col my-2">
            <a href="{{ .Page.RelPermalink }}" class="text-decoration-none text-reset">
              <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                  {{ .Page.Title }}
                  <span class="badge text-bg-primary">{{ .Count }}</span>
                </div>
              </div>
            </a>
          </div>
        {{ end }}
      </div>
  {{ else }}
    not implemented
  {{ end }}

  </div>

{{ else if eq .Kind "term" }}

  {{ if eq .Section "contributor" }}
    <p>
      <img src="{{ (index .Page.Data.category 0).Params.avatar_url }}" width=96 class="img-fluid rounded-5 mx-3 bg-light" alt="{{ .Page.Title }} profile picture">
      <span class="h2">{{ .Title }}</span>
      <a href="https://github.com/{{ .Title }}" class="text-decoration-none fs-4 text-reset">
        <svg width="16" height="16" fill="currentColor">
          <use xlink:href="{{ absURL "img" }}/bootstrap-icons.svg#box-arrow-up-right"/>
        </svg>
      </a>
    </p>

    {{ $pulls := where .Page.Data.category ".Params.is_pr" true }}
    {{ $issues := where .Page.Data.category ".Params.is_pr" false }}

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="list-group my-3">
            <span class="list-group-item " aria-disabled="true">
              Pull-Requests
            </span>
            {{ if eq 0 ($pulls | len)}}
              <span class="list-group-item text-center" aria-disabled="true">---</span>
            {{ end }}
            {{ range $pulls }}
              {{ partial "list-item-entry.html" . }}
            {{ end }}
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="list-group my-3">
            <span class="list-group-item" aria-disabled="true">
              Issues
            </span>
            {{ if eq 0 ($issues | len)}}
              <span class="list-group-item text-center" aria-disabled="true">---</span>
            {{ end }}
            {{ range $issues }}
              {{ partial "list-item-entry.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

  {{ else if eq .Section "labels" }}
    <h2>
      Labeled
      {{ partial "render-label.html" .Title }}
    </h2>
    <div class="list-group">
      {{ range .Paginator.Pages }}
        {{ partial "list-item-entry.html" . }}
      {{ end }}
    </div>
  {{ else }}
    Unhandled Section
  {{ end }}
{{ else }}

  UNHANDLED KIND {{ .Kind }}

{{ end }}


{{- end -}}
