{{ $customDateFormat := "January 2, 2006" }}

<div class="list-group-item">
      <a href="{{ .Permalink }}" class="text-decoration-none text-reset">
        <span class="h6">{{ partial "issue-badge.html" . }}</span>
        <span class="h5 text-light">
          {{ .Title | markdownify }}
        </span>
        <span class="text-mute">#{{ .Params.number }}</span>
      </a>
      <br>
      <span>
        <a href="{{ absURL "contributor" }}/{{ (urlize .Params.contributor) }}/" class="text-decoration-none text-reset">
          <b>{{ .Params.contributor }}</b>
        </a>
        on
        {{ .PublishDate.Format $customDateFormat }}
        <span> • </span>
        <span>{{ partial "issue-labels.html" . }}</span>
      </span>
</div>
