<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container">
    <a class="navbar-brand" href="{{ absURL "" }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ absURL  "issues" }}">Issues</a>
        <a class="nav-link" href="{{ absURL "pulls" }}">Pull Requests</a>
        <a class="nav-link" href="{{ absURL "labels" }}">Labels</a>
        <a class="nav-link" href="{{ absURL "contributors" }}">Contributors</a>
      </div>
      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#search-modal">Search</button>
    </div>

    <div class="modal modal-lg" id="search-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <input class="form-control" id="search-bar" type="search" placeholder="fuzzy-search PRs and issues" aria-label="Search">
          </div>
          <div class="modal-body">
            <div class="list-group" id="search-results">
              <span class="text-center">search resutls</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <template id="search-result">
      <a href="#" id="link" class="list-group-item">
        <span id="badge" class="badge">badge</span>
        <span id="title" class="fw-bold">title</span>
        <br>
        #<span id="number" class="text-mute"></span>
        by <span id="contributor"></span>
        <br>
        <small id="score" class="small text-mute"></small>
      </a>
    </template>

    <script>
      const searchBar = document.querySelector("#search-bar");
      const searchResultTemplate = document.querySelector('#search-result');
      const searchResults = document.querySelector('#search-results');

      fetch('{{ absURL "index.json" }}')
        .then((response) => response.json())
        .then((index) => {

          async function showResults(results) {
            while (searchResults.firstChild) { searchResults.removeChild(searchResults.firstChild); }
            let resultsToDisplay = Math.min(7, results.length);
            for (let i = 0; i < resultsToDisplay; i++) {
              const clone = searchResultTemplate.content.cloneNode(true);
              const result = results[i];

              clone.querySelector("#title").innerHTML = result.obj.title;
              clone.querySelector("#contributor").textContent = result.obj.contributor;
              clone.querySelector("#number").textContent = result.obj.number;
              clone.querySelector("#link").href = result.obj.permalink;
              clone.querySelector("#badge").textContent = result.obj.is_pr ? "pull" : "issue";
              clone.querySelector("#badge").classList.add("state-" + result.obj.state);

              const marker1 = "<span class='text-success-emphasis'>"
              const marker2 = "</span>"

              // overwrite text with marker if it matched
              if (result[0]) {
                // title matched
                clone.querySelector("#title").innerHTML = fuzzysort.highlight(result[0], marker1, marker2)
              }
              if (result[1]) {
                // contributor matched
                clone.querySelector("#contributor").innerHTML = fuzzysort.highlight(result[1], marker1, marker2)
              }
              if (result[2]) {
                // number matched
                clone.querySelector("#number").innerHTML = fuzzysort.highlight(result[2], marker1, marker2)
              }

              searchResults.appendChild(clone);
            }
          }

          async function handleEvent(event) {
            let term = event.target.value;
            if (term) {
              const options = {
                limit: 7,
                threshold: -10000,
                keys: ["title", "contributor", "number"],
              }

              const results = fuzzysort.go(term, index, options)
              showResults(results)
            }
          }

          searchBar.addEventListener("input", async (event) => { handleEvent(event) });
        });
    </script>


  </div>
</nav>
