
<h2>Test cases for regexes for issues, comments, and @mentions</h2>

{{ $baseURL := (absURL "") }}

{{ $testcases := (slice
  (dict
    "body"      "normal text"
    "expected"  "normal text"
    "match"     true)
  (dict
    "body"      "normal text"
    "expected"  "bad text"
    "match"     false)
  (dict
    "body"      "See https://github.com/bitcoin/bitcoin/pull/20233 for details"
    "expected"  (printf "See <a href=\"%s20233/\">#20233</a> for details" $baseURL )
    "match"     true)
  (dict
    "body"      "See https://github.com/bitcoin/bitcoin/pull/20233#issuecomment-715884174 for details"
    "expected"  (printf "See  <a href=\"%s20233/#issuecomment-715884174\">#20233 (comment)</a> for details" $baseURL )
    "match"     true)
  (dict
    "body"      "my review from https://github.com/bitcoin/bitcoin/pull/20205#issuecomment-716544104,"
    "expected"  (printf "my review from  <a href=\"%s20205/#issuecomment-716544104\">#20205 (comment)</a>," $baseURL )
    "match"     true)
  (dict
    "body"      "my review from https://github.com/bitcoin/bitcoin/pull/20205#issuecomment-716544104."
    "expected"  (printf "my review from  <a href=\"%s20205/#issuecomment-716544104\">#20205 (comment)</a>." $baseURL )
    "match"     true)
  (dict
    "body"      "my review from https://github.com/bitcoin/bitcoin/pull/20205#issuecomment-716544104 abc"
    "expected"  (printf "my review from  <a href=\"%s20205/#issuecomment-716544104\">#20205 (comment)</a> abc" $baseURL )
    "match"     true)
  (dict
    "body"      "my review from https://github.com/bitcoin/bitcoin/pull/20205#issuecomment-716544104!"
    "expected"  (printf "my review from  <a href=\"%s20205/#issuecomment-716544104\">#20205 (comment)</a>!" $baseURL )
    "match"     true)
  (dict
    "body"      "interesting owner:repo name https://github.com/Interesting1/name-tesT/pull/20205#issuecomment-716544104!"
    "expected"  (printf "interesting owner:repo name  <a href=\"%s20205/#issuecomment-716544104\">#20205 (comment)</a>!" $baseURL )
    "match"     true)
  (dict
    "body"      "files https://github.com/bitcoin/bitcoin/pull/20205/files-abc"
    "expected"  "files <a href=\"https://github.com/bitcoin/bitcoin/pull/20205/files-abc\">https://github.com/bitcoin/bitcoin/pull/20205/files-abc</a>"
    "match"     true)
  (dict
    "body"      "at https://github.com/bitcoin/bitcoin/pull/20233#discussion_r682768076."
    "expected"  (printf "at  <a href=\"%s20233/#discussion_r682768076\">#20233 (review)</a>." $baseURL )
    "match"     true)
  (dict
    "body"      "@0xb10c "
    "expected"  (printf "  <a href=\"%scontributor/0xb10c/\">@0xb10c</a>" $baseURL )
    "match"     true)
  (dict
    "body"      "@test1 @test2 @test3"
    "expected"  (printf "      <a href=\"%scontributor/test1/\">@test1</a> <a href=\"%scontributor/test2/\">@test2</a> <a href=\"%scontributor/test3/\">@test3</a>" $baseURL $baseURL $baseURL)
    "match"     true)
  (dict
    "body"      "@test1?? @test2's @test3."
    "expected"  (printf "      <a href=\"%scontributor/test1/\">@test1</a>?? <a href=\"%scontributor/test2/\">@test2</a>&rsquo;s <a href=\"%scontributor/test3/\">@test3</a>." $baseURL $baseURL $baseURL)
    "match"     true)
  (dict
    "body"      "@test1@test2@test3."
    "expected"  (printf "  <a href=\"%scontributor/test1/\">@test1</a>@test2@test3." $baseURL)
    "match"     true)
  (dict
    "body"      "@t-bast"
    "expected"  (printf "  <a href=\"%scontributor/t-bast/\">@t-bast</a>" $baseURL )
    "match"     true)
  (dict
    "body"      "@MarkoFalke"
    "expected"  (printf "  <a href=\"%scontributor/markofalke/\">@MarkoFalke</a>" $baseURL )
    "match"     true)
)}}

<div class="row">
  <div class="col-1">
    case
  </div>
  <div class="col-2">
    should match
  </div>
  <div class="col-4">
    got
  </div>
  <div class="col-4">
    expected
  </div>
  <div class="col-1">
    ok?
  </div>
</div>

{{ range $index, $case := $testcases }}
  <div class="row">
      {{ $result := safeHTML (replace (partial "comment-body.html" . ) "\n" "") }}
      {{ $expected := safeHTML .expected }}

      <div class="col-1">
        {{ $index }}
      </div>
      <div class="col-2">
        {{ if eq .match true }}
          match
        {{ else }}
          no match
        {{ end }}
      </div>
      <div class="col-4">
        "{{ safeHTML $result }}"
      </div>
      <div class="col-4">
        "{{ safeHTML .expected }}"
      </div>

      <div class="col-1">
        {{ if eq (eq $expected $result) .match }}
          <span class="badge text-bg-success">ok</span>
        {{ else }}
          <span class="badge text-bg-danger">bad</span>
          {{ warnf "test-case %d is broken. See layouts/partials/test.html" $index }}
        {{ end }}
      </div>
  </div>
{{ end }}

